@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Pindi Venkata Dorababu<br />
    Andhra Pradesh<br />
    <abbr title="Phone">+91 9848365784</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Dorababupindi@gmail.com">Dorababupindi@gmail.com</a><br />
</address>